version: '2'
services:
  db:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER={{cookiecutter.project_name}}
      - POSTGRES_PASSWORD={{cookiecutter.project_name}}
  backend:
    build: .
    ports:
      - '8000:80'
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - ENV=docker
