django==2.2.6 # pyup: >=1.11,<1.12
django-environ==0.4.5
django-filter==2.2.0
djangorestframework==3.10.2
djangorestframework-jsonapi==2.8.0
djangorestframework-jwt==1.11.0
psycopg2-binary==2.8.3
uwsgi==2.0.18
